html {
    background-color: #ffff;
    color: #070F16;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

main {
    /*margin-top: 100px;*/
}

.header {
  height:40px;
  margin:15px;
  padding:12px;
  text-align: center;
}
.full-height {
    height: 100vh;

}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}


.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 20px;
}


.container {
    padding: 12px;
}

textarea{
    display: block;
    width: 75%;

}
select{
    width: 60%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;

}

table, td, th {
  text-align: center;
  border: 1px solid black;
}
table {
  width:100%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

#myProgress{
    width:100%;
    background: #22822E;
}
#myBar{
    height:30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

.btn{
      background-color: #22822E;
      color: white;
      padding: 16px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
.delbtn{
  background-color: #ffffff;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: 1px solid;
  border-color: #336699;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover{
  opacity:1;
}
.delbtn:hover{
  opacity:1;
}
.centre {
  text-align: center;
}
/* The alert message box */


/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.required {
    color: red;
    font-weight: bold;
}

ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}
